@theme {
  --font-body:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-display:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-code:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;

  --text-caption: 0.75rem;
  --text-caption--line-height: 1rem;
  --text-caption--letter-spacing: 0.01em;
  --text-caption--font-weight: 500;

  --text-label: 0.875rem;
  --text-label--line-height: 1.25rem;
  --text-label--letter-spacing: 0;
  --text-label--font-weight: 500;

  --text-body-sm: 0.875rem;
  --text-body-sm--line-height: 1.25rem;
  --text-body-sm--letter-spacing: 0;
  --text-body-sm--font-weight: 400;

  --text-body: 1rem;
  --text-body--line-height: 1.5rem;
  --text-body--letter-spacing: 0;
  --text-body--font-weight: 400;

  --text-body-lg: 1.125rem;
  --text-body-lg--line-height: 1.75rem;
  --text-body-lg--letter-spacing: -0.005em;
  --text-body-lg--font-weight: 400;

  --text-title-sm: 1.25rem;
  --text-title-sm--line-height: 1.75rem;
  --text-title-sm--letter-spacing: -0.01em;
  --text-title-sm--font-weight: 600;

  --text-title: 1.5rem;
  --text-title--line-height: 2rem;
  --text-title--letter-spacing: -0.02em;
  --text-title--font-weight: 600;

  --text-heading: 2rem;
  --text-heading--line-height: 2.5rem;
  --text-heading--letter-spacing: -0.025em;
  --text-heading--font-weight: 700;

  --text-display: 3rem;
  --text-display--line-height: 3.25rem;
  --text-display--letter-spacing: -0.035em;
  --text-display--font-weight: 700;
}
